openapi: 3.0.0
info:
  title: Event manager Web API
  version: '1.0'
  description: Web Resources Specification (A7) for Helluva
  x-logo:
    url: ''
servers:
  - url: http://lbaw2235.fe.up.pt/
    description: Production server
paths:
  /login/:
    get:
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: Ok. Show Log-in UI
      operationId: R101
      summary: 'R101: login to user'
      description: 'Provide login form. Access: USR'
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - email
                - password
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
        required: true
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successful authentication. Redirect to user profile.
                  value: /users/{id}
                302Error:
                  description: Failed authentication. Redirect to login form.
                  value: /login
          description: Redirect after processing the login credentials.
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
  /logout:
    post:
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successful logout. Redirect to login form.
                  value: /login
          description: Redirect after processing logout.
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
  /register:
    get:
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: Ok. Show Sign-Up UI
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - email
                - password
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                username:
                  type: string
                picture:
                  format: binary
                  type: string
        required: true
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          headers:
            Location:
              required: false
              deprecated: false
              schema:
                type: string
              examples:
                302Success:
                  description: account registered
                302Error:
                  description: username already taken
              description: ''
          description: Redirect after processing info
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
  /users/{id}:
    get:
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - name: id
          schema:
            type: integer
          in: path
          required: true
      responses:
        '200':
          description: Ok. Show view profile UI
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
    delete:
      description: 'Delete user from the database. Access: USR, ADM'
      operationId: R108
      summary: 'R108: Delete User'
      parameters:
        - name: user_id
          in: path
          required: true
          deprecated: false
          schema:
            type: integer
          x-last-modified: 1670240894807
  /about_us:
    summary: ''
    description: ''
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Show 'About Us' page.
          x-last-modified: 1668423515335
      operationId: R501
      summary: 'R501: Show ''About Us'' page'
      description: 'Direct to ''About Us'' page. Access: PUB'
    x-last-modified: 1668423849530
  /contact_us:
    summary: ''
    description: ''
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Show 'Contact Us' page.
          x-last-modified: 1668424486577
      operationId: R502
      summary: 'R502: Show ''Contact Us'' page'
      description: 'Direct to ''Contact Us'' page. Access: PUB'
    x-last-modified: 1668423951220
  /faq:
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Show 'FAQ' page.
          x-last-modified: 1668424513004
      operationId: R503
      summary: 'R503: Show ''FAQ'' page'
      description: 'Direct to ''FAQ'' page. Access: PUB'
    x-last-modified: 1668424175533
  /reported_users:
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Display reported users.
          x-last-modified: 1668426246558
      operationId: R504
      summary: 'R504: View reported users'
      description: 'Display the list of reported users. Access: ADM'
    x-last-modified: 1668426189615
  /reported_events:
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Display reported events.
          x-last-modified: 1668426354531
      operationId: R505
      summary: 'R505: View reported events'
      description: 'Display all the reported events. Access: ADM'
    x-last-modified: 1668426301253
  /reported_comments:
    summary: ''
    get:
      tags:
        - 'M05: User Administration and Static pages'
      responses:
        '200':
          description: Ok. Show reported comments.
          x-last-modified: 1668426440595
      operationId: R506
      summary: 'R506: View reported comments'
      description: 'Display all reported comments. Access: ADM'
    x-last-modified: 1668426384694
  /create_event:
    get:
      tags:
        - 'M04: Manage Content'
      responses:
        '200':
          description: Ok. Show create event UI.
          x-last-modified: 1668427968652
      operationId: R401
      summary: 'R401: Create new event form'
      description: 'Provide new event form. Access: USR'
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - date
                - type
              type: object
              properties:
                name:
                  type: string
                category:
                  type: string
                date:
                  type: date
                picture:
                  format: binary
                  type: string
                type:
                  type: boolean
        required: false
      tags:
        - 'M04: Manage Content'
      responses:
        '302':
          description: Redirect after processing info.
          x-last-modified: 1668427627584
      operationId: R402
      summary: 'R402: Create new event action'
      description: 'Processes the new event registration form submission. Access: USR'
    x-last-modified: 1668428087844
  /search:
    get:
      tags:
        - 'M03: Search'
      parameters:
        - name: string
          description: String to use for search
          schema:
            type: string
          in: query
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    content:
                      type: string
          description: Ok. Show search UI
        '400':
          description: Bad Request
      operationId: R301
      summary: 'R301: Search'
      description: 'Search for events using text. Access: USR'
    x-last-modified: 1668532586959
  /user/attend:
    get:
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show 'Attend' page.
      operationId: R201
    x-last-modified: 1668533586316
  /user/manage:
    get:
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show 'Manage' page.
      operationId: R202
    x-last-modified: 1668533586316
  /event/{event_id}/edit:
    get:
      tags:
        - 'M04: Manage Content'
      parameters:
        - name: event_id
          schema:
            type: integer
          in: path
          required: true
      responses:
        '200':
          description: Show form to edit an event.
      operationId: R404
      summary: 'R404: Edit Event Form'
      description: 'Provide the event form to an user for edition. Access: OWN, ADM'
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                image:
                  format: binary
                  type: string
            required:
              - title
              - content
        required: true
      tags:
        - 'M04: Manage Content'
      parameters:
        - name: event_id
          schema:
            type: integer
          in: path
          required: true
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: The event edition was successful. Redirect to initial page.
                  value: /event/{event_id}
                302Error:
                  description: Failed to edit the event. Redirect to event form edition.
                  value: /event/{event_id}/edit
          description: Redirect after processing the event form edition.
      operationId: R405
      summary: 'R405: Edit Event Action'
      description: 'Processes the event form edition submission. Access: OWN, ADM'
    delete:
      tags:
        - 'M04: Manage Content'
      parameters:
        - name: event_id
          schema:
            type: integer
          in: path
          required: true
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: The event was successfully deleted. Redirect to homepage.
                  value: /event/{event_id}
                302Error:
                  description: Failed to delete the event. Redirect to the event page.
                  value: /event/{event_id}/edit
          description: Redirect after processing the event form.
      operationId: R406
      summary: 'R406: Delete event'
      description: 'Delete an event. Access: OWN, ADM'
    x-last-modified: 1668533755009
  /event/participants/{event_id}:
    get:
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - type
                - text
              type: object
        required: false
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show UI
      operationId: R203
      summary: 'R203: View participants event page'
      description: View participants event page
    post:
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show UI
      operationId: R204
      summary: 'R204: View participants event page'
      description: View participants event page
    x-last-modified: 1668534092987
  /event/{event_id}:
    get:
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - type
                - text
              type: object
        required: false
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show event page
      operationId: R205
      summary: 'R205: View event page'
      description: View the Event page and posts
    x-last-modified: 1668534107173
  /home:
    get:
      tags:
        - 'M02: View Content'
      responses:
        '200':
          description: Ok. Show home page
      operationId: R206
      summary: 'R206: View home page'
      description: View home page
    x-last-modified: 1668534206790
  /api/invite:
    post:
      tags:
        - 'M06: API Requests'
      responses:
        '200':
          description: Ok. Invite
      operationId: R601
      summary: 'R601: Invite users to event'
      description: 'Send an invite notification to selected users. Access: OWN'
    x-last-modified: 1670239847081
  /api/vote:
    post:
      tags:
        - 'M06: API Requests'
      operationId: R602
      summary: 'R602: Vote'
      description: "\tVote submission request. Access: ATT"
    x-last-modified: 1670240045075
  /api/attend:
    post:
      tags:
        - 'M06: API Requests'
      operationId: R603
      summary: 'R603: Attend/Unnattend event'
      description: >-
        Submits a request for the user to change its attendance status for a
        public event. Access: USR
    x-last-modified: 1670240161218
  /api/organizer:
    post:
      tags:
        - 'M06: API Requests'
      operationId: R604
      summary: 'R604: Add/Remove organizer'
      description: >-
        Sends a request from the event organizer to add or remove another
        organizer. Access: OWN
    x-last-modified: 1670240275111
  /user/invites:
    get:
      tags:
        - 'M01: Authentication and Individual Profile'
      operationId: R107
      summary: 'R107: View Event Invites'
      description: 'Display all event invitations sent to the user. Access: USR'
    x-last-modified: 1670240516958
  /event/{event_id}/create_post:
    get:
      tags:
        - 'M04: Manage Content'
      operationId: R407
      summary: 'R407: Create Post Form'
      description: 'Provide create new post form. Access: ATT, OWN'
    post:
      tags:
        - 'M04: Manage Content'
      operationId: R408
      summary: 'R408: Create Post Action'
      description: 'Process the new post submission. Access: ATT, OWN'
    x-last-modified: 1670241191011
  /event/{event_id}/post/{post_id}:
    delete:
      tags:
        - 'M04: Manage Content'
      operationId: R409
      summary: 'R409: Delete Post'
      description: Delete a post from the event
      parameters:
        - name: event_id
          in: path
          required: true
          deprecated: false
          schema:
            type: integer
          x-last-modified: 1670241917905
        - name: post_id
          in: path
          required: true
          deprecated: false
          schema:
            type: integer
          x-last-modified: 1670242048467
    x-last-modified: 1670241761586
  /event/{event_id}/edit_post/{post_id}:
    get:
      tags:
        - 'M04: Manage Content'
      operationId: R410
      summary: 'R410: Edit Post Form'
      description: 'Show the edit post form. Access: ATT, OWN'
    post:
      tags:
        - 'M04: Manage Content'
      operationId: R411
      summary: 'R411: Edit Post Action'
      description: 'Process the edit post submission. Access: ATT, OWN'
      parameters:
        - name: event_id
          in: path
          required: true
          deprecated: false
          schema:
            type: integer
          x-last-modified: 1670242273344
        - name: post_id
          in: path
          required: true
          deprecated: false
          schema:
            type: integer
          x-last-modified: 1670242294342
    x-last-modified: 1670242084935
components:
  securitySchemes: {}
  schemas: {}
  headers: {}
  responses: {}
  parameters: {}
tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: View Content'
  - name: 'M03: Search'
    x-last-modified: 1668532422554
  - name: 'M04: Manage Content'
    x-last-modified: 1668533419645
  - name: 'M05: User Administration and Static pages'
  - name: 'M06: API Requests'
    x-last-modified: 1670239811697
security: []
